<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codesy.blogsystem.dao.mapper.UserMapper">

    <select id="getUserByName" parameterType="String" resultType="com.codesy.blogsystem.model.DTO.User">
        SELECT * FROM author WHERE Name = #{name}
    </select>
</mapper>
